<nav>
    <div class="top_nav">
        <ul>
            <li><a href="#"><i class="fa-solid fa-globe"></i> English</a></li>
            <li><a href="#"><i class="fa-regular fa-envelope"></i> Newsletters</a></li>
            <li><a href="#"><i class="fa-regular fa-calendar"></i> Events</a></li>
            <li><a href="#"><i class="fa-solid fa-microphone"></i> Podcasts</a></li>
            <div class="search_bar">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
                <input type="text" placeholder="Search">
            </div>
        </ul>
    </div>
    <div class="bottom_nav">
        
    </div>
</nav>